@{
  Layout = "_Layout";
}
    <div>
      <h1>Create New Order for @Model.VendorName</h1>
      <form action="/vendors/@Model.Id/orders" method="post">
       <label for="vendorName">Vendor Name:</label>
        <input id="vendorName" name="vendorName" type="text" required>

        <label for="orderTitle">Order title:</label>
        <input id="orderTitle" name="orderTitle" type="text" required>
        
        <label for="orderDescription">Order Description:</label>
        <input id="orderDescription" name="orderDescription" type="text" required>
        
        <label for="price">Price:</label>
        <input id="price" name="price" type="number" step="0.01" required>
        
        <label for="date">Date of pickup:</label>
        <input id="date" name="date" type="date" required>
        
        <button type="submit">Create Order</button>
      </form>
    </div>
    <br>
    <a href='/'>Return to homepage</a>

