@{
  Layout = "_Layout";
}


<h1>Order Details:</h1>

<h2>@Model["order"].OrderTitle</h3>
<h3>Description: @Model["order"].OrderDescription</h4>
<h3>$@Model["order"].Price</h3>
<h3>Pickup Date: @Model["order"].Date</h3>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add Order</a></p>
<p><a href='/vendors/@Model["vendor"].Id'> Current Order List</a></p>
<a href='/'>Return to homepage</a>
