@{
  Layout = "_Layout";
}
    <div>
      <form action="/vendors" method="post">
        <h2>New vendor information:</h2>
        <label for="vendorName">Vendor Name:</label>
        <input id="vendorName" name="vendorName" type="text" required>

        <label for="vendorDescription">Vendor Description:</label>
        <input id="vendorDescription" name="vendorDescription" type="text" required>

        <button type="submit">Request</button>
      </form>
    </div>
     <br>
     <a href='/'>Return to homepage</a>
