@{
  Layout = "_Layout";
}

  @using Bakery2.Models; 

    <h1>Vendor profile was successfully created!</h1>
    <h3>Current orders:</h3>
        @if (Model.Count == 0)
    {
      <p>There are no current orders.</p>
    }
    <ol>
        @foreach (Order order in Model["orders"])
        {
            <li><a href='/vendors/@Model["vendor"].Id/orders/@order.OrderId'>@order.OrderTitle</a></li>
        }
    </ol>
    <br>
    <a href='/vendors/@Model["vendor"].Id/orders/new'>Place an order</a>
    <br> 
  <a href='/vendors'>Return to vendor list</a>
  <br> 
    <a href='/'>Return to homepage</a>
